@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $popupWrapper;
  @include flex(center,center);
  .container{
    @include flex(center,center,column);
    background-color: $mainBgColor;
    padding: 5rem;
    overflow: auto;
    .button{
      width: 100%;
      padding: 0.5rem;
      margin-top: 0.4rem;
      @include text(1.1rem, 700, $partnerMsgBgColor);
      cursor: pointer;
    }
  }
}
