@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';


.container {
  width: 100%;
  padding: 0.7rem;
  border-bottom: $border;
  .filterContainer {
    position: relative;
    margin-top: 1.25rem;
    .filter {
      width: 100%;
      border: $border;
      border-radius: 1.2rem;
      padding: 0.6rem 0.6rem 0.6rem 2.2rem;
      background-color: $inputColor;
    }
    .icon {
      width: 0.7rem;
      height: 0.7rem;
      position: absolute;
      top: calc(50% - 0.4rem);
      left: 12px;
    }
  }
}
