@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.container {
  width: 100%;
  margin-bottom: 0.8rem;
  .message {
    display: inline-block;
      .text {
        @include text(0.9rem, 400);
        padding: 0.6rem 0.9rem;
        border-radius: 1.1rem;
        margin-bottom: 0.5rem;
      }
      .right {
        background-color: $userMsgBgColor;
        color: $partnerMsgBgColor;
      }
      .left {
        background-color: $partnerMsgBgColor;
        color: $userMsgBgColor;
      }
    .date {
      @include text(0.7rem, 400);
      color: $lightText;
    }
  }
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
