@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.container {
  width: 100%;
  @include flex(flex-start,center);
  gap: 10px;
  padding: 0.7rem;
  border-bottom: $border;
  h2 {
    @include text(1.2rem, 500, $mediumText);
  }
}