@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.container {
  width: 100%;
  @include flex(flex-start,center);
  gap: 10px;
  padding: $commonPadding;
  border-bottom: $border;
  .icon {
    display: none;
    width: 2rem;
    padding: 0.3rem;
      @media (max-width: 587px) {
        display: block;
      }
  }
  h2 {
    @include text(1.2rem, 500, $mediumText);
  }
}